@define-color bg #202018;
@define-color bg1 #35352c;
@define-color fg #e5e3d6;
@define-color blue #c8cc78;
* {
  border: none;
  border-radius: 0;
  font-family: "Terminus", "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 800;
}
window#waybar {
  background-color: @bg;
  border-top: 3px solid #929182;
  color: @fg;
}
#cpu,
#memory,
#pulseaudio,
#custom-brightness,
#custom-network,
#custom-launcher,
#workspaces button,
#custom-updates,
#battery,
#clock,
#custom-power,
#tray {
  background: @bg;
  color: @fg;
  border-top: 2px solid #929182;
  border-left: 2px solid #929182;
  border-right: 2px solid #35352c;
  border-bottom: 2px solid #35352c;
  margin: 4px 2px;
  padding: 0 10px;
}
#cpu,
#memory {
  color: @blue;
  background: #202018;
  border-top: 2px solid #35352c;
  border-left: 2px solid #35352c;
  border-right: 2px solid #929182;
  border-bottom: 2px solid #929182;
}
#workspaces button.active {
  color: @fg;
  background: @bg1;
  border-top: 2px solid #35352c;
  border-left: 2px solid #35352c;
  border-right: 2px solid #929182;
  border-bottom: 2px solid #929182;
}
/* So that dynamic icons don't squash together */
#workspaces button label {
  font-size: 16px;
  padding: 0 4px;
}
#workspaces button label {
  font-size: 17px;
  letter-spacing: 10px; /* keep it subtle */
  padding: 0 6px;
}
#custom-launcher {
  color: #c8cc78;
}
