* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
}

window {
  margin: 0px;
  padding: 18px;
  border-radius: 20px;
  background-color: rgba(61, 50, 49, 0.94);
  border: 1px solid rgba(160, 140, 138, 0.92);
}

#outer-box,
#inner-box {
  margin: 0px;
}

#input {
  margin-bottom: 14px;
  padding: 13px 14px;
  border-radius: 14px;
  border: 1px solid rgba(160, 140, 138, 0.7);
  outline: none;
  background-color: rgba(50, 40, 39, 0.9);
  color: #f1dedd;
}

#input:focus {
  border-color: #ffb3ad;
}

#scroll {
  margin-top: 4px;
}

#entry {
  padding: 12px 14px;
  border-radius: 14px;
  margin: 4px 0px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #f1dedd;
}

#entry:hover {
  background-color: rgba(50, 40, 39, 0.86);
  border-color: rgba(160, 140, 138, 0.85);
}

#entry:selected {
  background-color: #ffb3ad;
  color: #571e1b;
  border-color: #ffb3ad;
}

#img {
  margin-right: 14px;
}
