* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
}

window {
  margin: 0px;
  padding: 18px;
  border-radius: 20px;
  background-color: rgba(51, 53, 58, 0.94);
  border: 1px solid rgba(142, 144, 153, 0.92);
}

#outer-box,
#inner-box {
  margin: 0px;
}

#input {
  margin-bottom: 14px;
  padding: 13px 14px;
  border-radius: 14px;
  border: 1px solid rgba(142, 144, 153, 0.7);
  outline: none;
  background-color: rgba(40, 42, 47, 0.9);
  color: #e2e2e9;
}

#input:focus {
  border-color: #adc6ff;
}

#scroll {
  margin-top: 4px;
}

#entry {
  padding: 12px 14px;
  border-radius: 14px;
  margin: 4px 0px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #e2e2e9;
}

#entry:hover {
  background-color: rgba(40, 42, 47, 0.86);
  border-color: rgba(142, 144, 153, 0.85);
}

#entry:selected {
  background-color: #adc6ff;
  color: #102f60;
  border-color: #adc6ff;
}

#img {
  margin-right: 14px;
}
